@model BaseMusaBlog.EntityLayer.Concrete.Blog
@{
    ViewBag.Title = "AddNewBlog";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Blog Ekle</h3>
        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</div>
<br />
<br />
<form class="form-group" method="post">
    @Html.Label("Blog Başlığı")
    @Html.TextBoxFor(x => x.BlogTitle, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Kategorisi")
    @Html.DropDownListFor(x => x.CategoryID, (List<SelectListItem>)
     ViewBag.categoryNameDropdown, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Resim Yolu")
    @Html.TextBoxFor(x => x.BlogImage, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Tarihi")
    @Html.TextBoxFor(x => x.BlogDate, new { @class = "form-control" })
    <br />
    @Html.Label("Blog Yazarı")
    @Html.DropDownListFor(x => x.AuthorID, (List<SelectListItem>)
       ViewBag.authorNameDropdown, new { @class = "form-control" })
    <br />
    @Html.Label("Blog İçeriği")
    @Html.TextAreaFor(x => x.BlogContent, 10, 20, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary">Kaydet</button>
</form>