@model IEnumerable<BaseMusaBlog.EntityLayer.Concrete.Blog>
@{
    ViewBag.Title = "AdminBlogList2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Bloglar</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
        </div>
    </div>
    <br />
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="card">
            <div class="card-header">
                <h3 class="card-title text-info">Aktif Bloglar</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </div>
            <div class="card-body p-0">
                <table class="table table-striped projects">
                    <thead>
                        <tr>
                            <th style="width:25%">Blog</th>
                            <th style="width:15%">Yazar</th>
                            <th style="width:10%">Yayın Tarihi</th>
                            <th style="width:15%" class="text-center">Kategori</th>                    
                            <th style="width:25%" class="text-center">İşlemler</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {                
                            <tr>
                                <td>@item.BlogTitle</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <img alt="Avatar" class="table-avatar" src="@item.Author.AuthorImage">
                                            @item.Author.AuthorName
                                        </li>
                                    </ul>
                                </td>
                                <td>@item.BlogDate.ToString("dd/MMM/yyyy")</td>
                                <td class="project-state">
                                    <span class="badge badge-dark">@item.Category.CategoryName</span>
                                </td>
                         

                                <td class="project-actions text-right">
                                    <a class="btn btn-primary btn-sm" href="/Blog/GetCommentByBlog/@item.BlogID">
                                        <i class="fas fa-comment">
                                        </i>
                                        Yorumlar
                                    </a>
                                    <a class="btn btn-info btn-sm" href="/Blog/BlogDetails/@item.BlogID">
                                        <i class="fas fa-deaf">
                                        </i>
                                        Siteye Git
                                    </a>
                                    <a class="btn btn-warning btn-sm" href="/Blog/UpdateBlog/@item.BlogID">
                                        <i class="fas fa-pencil-alt">
                                        </i>
                                        Güncelle
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="/Blog/RemoveBlog/@item.BlogID">
                                        <i class="fas fa-trash">
                                        </i>
                                        Sil
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <a href="/Blog/AddNewBlog/" class="btn btn-success">
        <i class="fas fa-pencil-alt">
            Yeni Blog
        </i>
    </a>
</body>
</html>

