@model IEnumerable<BaseMusaBlog.EntityLayer.Concrete.About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('/miniblog/images/hakkimizda-sayfa.png'); ">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <h1 class="">Bizim</h1>
                    <p class="lead mb-4 text-white">Sizler için birçok blog yazan ekibimizi daha yakından tanımak ister misiniz?</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 order-md-2">
                    <img src="@item.AboutImage1" alt="Image" style="height:400px" class="img-fluid">
                </div>
                <div class="col-md-5 mr-auto order-md-1">
                    <h2>Biz Kimiz?</h2>
                    <p>@item.AboutContent1</p>
                    <ul class="ul-check list-unstyled success">
                        <li>Hergün bir blog yazısı ekleme</li>
                        <li>Bir çok kategoriye erişim sağlamak</li>
                        <li>Birden çok yazar anlatımları ile sizlere yardım</li>
                        <li>Detaylı ve açıklayıcı anlatımlar</li>
                        <li>Konularda profesyonellik</li>
                    </ul>
                </div>
            }
        </div>
    </div>
</div>
@Html.Action("MeetTheTeam", "About")
<div class="site-section bg-light">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6">
                    <img src="@item.AboutImage2" alt="Image" class="img-fluid">
                </div>
                <div class="col-md-5 ml-auto">
                    <h2>Kişisel Blog Nedir ve Neler Yapıyoruz?</h2>
                    <p class="mb-4">@item.AboutContent2</p>
                    
                    <ul class="ul-check list-unstyled success">
                        <li>Yazılım Geliştirme Projeleri</li>
                        <li>Tüm Konular Hakkında Detaylı Çalışmalar</li>
                        <li>Örnek Dinamik Web Siteleri</li>
                        <li>Online Bankacılık Projeleri</li>
                        <li>Kişisel Blog Projeleri</li>
                        <li>Aklınıza Gelebilecek Diğer Yazılım Projeleri</li>                        
                    </ul>
                </div>
            }
            </div>
    </div>
</div>
@*Subscribe mail*@
@*@Html.Action("MailSubscribe", "Blog")*@
@*Footer-AboutController*@
@Html.Action("Footer", "About")